
<%- include('./partials/head') %>


<div id="gradient"></div>
<div id="card">

<p> Tel: 06862922** </p>
<p> Woonplaats: Amsterdam-West </p>
<p> Email: Badr.amara@hva.nl</p>
<p> IG: _badr_am</p>

<span class="right bottom"><a href="/"> TERUG </a></span>

</div>


<%- include('./partials/foot') %>
