
<%- include('./partials/head') %>


<div id="gradient"></div>
<div id="card">

<p> Tel: 06862922** </p>
<p> Woonplaats: Amsterdam</p>
<p> HvA-Email: Badr.amara@hva.nl</p>
<p> HvA-ID: 5F200661 </p>

<span class="right bottom"><a href="/"> TERUG </a></span>

</div>


<%- include('./partials/foot') %>
